<ul class="flex-container">
    <li class="item-comic mini-comic" ng-repeat="(k,model) in comicSearchCtrl.show track by $index">
        <h1>{{model.title}}</h1>
        <section>
            <img ng-src="{{'http://placehold.it/150x150?text=' + k}}">
            <div class="side-desc">
                <div class="description">{{model.body}}</div>
                <a href="#/comic/{{k}}/{{comicSearchCtrl.search}}">See more...</a>
            </div>
        </section>
    </li>
</ul>

<div class="continue-loading special" ng-show="comicSearchCtrl.more">
    <div>
        <span>
            Load more items...
        </span>
        <button class="login-button" ng-click="comicSearchCtrl.show_data()">Load more</button>
    </div>
</div>